<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet">
    <title>Scan-A-Pass</title>

  </head>
  <body>
    <h1><p>Your Class<p/></h1>
    <p>{{ student_1 }} {%if student_1_in_out == 'True' %} got to the classroom at {% else %} left the classroom at {% endif %} {{ student_1_time }}<p/>
    <p>{{ student_2 }} {%if student_2_in_out == 'True' %} got to the classroom at {% else %} left the classroom at {% endif %} {{ student_2_time }}<p/>
    <p>{{ student_3 }} {%if student_3_in_out == 'True' %} got to the classroom at {% else %} left the classroom at {% endif %} {{ student_3_time }}<p/>
    <p>{{ student_4 }} {%if student_4_in_out == 'True' %} got to the classroom at {% else %} left the classroom at {% endif %} {{ student_4_time }}<p/>

  </body>
</html>
